<launch>
    
    <!-- Start rosserial: Oimi Body-->
    <node pkg="rosserial_python" type="serial_node.py" name="ArduinoTouchArray" output="screen">
	<rosparam command="load" file="$(find triskarino_hw)/config/touch_mega.yaml" />
    </node>

    <!-- Start rosserial: Oimi Head-->
    <node pkg="rosserial_python" type="serial_node.py" name="ArduinoTouchHead" output="screen">
	<rosparam command="load" file="$(find triskarino_hw)/config/touch_param.yaml" />
    </node>

    <!-- Start rosserial: Light-->
    <node pkg="rosserial_python" type="serial_node.py" name="arduin4light" output="screen">
      <param name="port" type="string" value="/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0"/>
      <param name="baud" type="int" value="115200"/>
    </node>

    <!-- Start ROS node for Touch Data reading-->
    <node pkg="triskarino_hw" type="touchreader_manager.py" name="touchreader_manager" output="screen" />

    <!-- Include MPU6050 -->
    <include file="$(find mpu6050_driver)/launch/mpu6050_driver_with_filter.launch" />

    <!-- Include Teleop -->
    <include file="$(find triskarino_hw)/launch/teleop.launch" />
    
    <!-- Inlcude Sound --> 
    <node pkg="triskarino_hw" type="sound_manager.py" name="sound_manager" output="screen" />
 
</launch>
